<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create a Basketball Team</title>
 </head>
 <body>
 <form method="POST" action="/team"><div style="margin:0;padding:0">
 <div>
 <label for="name">Team Name:</label>
 <input type="text" name="name" />
 </div>
 <div>
 <label for="coach">Coach:</label>
 <input type="text" name="coach" />
 </div>
 <div>
 <label for="pg">Point Guard:</label>
 <input type="text" name="pg" />
 </div>
 <div>
 <label for="sg">Shooting Guard:</label>
 <input type="text" name="sg" />
 </div>
 <div>
 <label for="sf">Small Forward:</label>
 <input type="text" name="sf" />
 </div>
 <div>
 <label for="pf">Power Forward:</label>
 <input type="text" name="pf" />
 </div>
 <div>
 <label for="c">Center:</label>
 <input type="text" name="c" />
 </div>
 <input type="submit" id="Submit" />
 </form>
 </body>
</html>


