<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form method="post" action="/team">
        <input type="text" name="name">
        <label for="name">Team name</label>
        <input type="text" name="coach">
        <label for="coach">Coach</label>
        <input type="text" name="pg">
        <label for="pg">Point Guard</label>
        <input type="text" name="sg">
        <label for="sg">Shooting Guard</label>
        <input type="text" name="sf">
        <label for="sf">Small Forward</label>
        <input type="text" name="pf">
        <label for="pf">Power Forward</label>
        <input type="text" name="c">
        <label for="c">Center</label>
        <input id="Submit" type='submit'>
        </form>




 </body>
</html>


